---

import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';


type Props = {
	posts: CollectionEntry<'posts'>[];
};
const { posts } = Astro.props;
console.log(posts);
---

<div class='grid grid-cols-1 md:grid-cols-2 mt-10 gap-x-10 gap-y-10 mb-24'>
	{posts.map((post) => (
		<article class='rounded-sm'>
			<a href={`/blog/${post.slug}`} >
				<Image
					src={post.data.image}
					alt={post.data.title}
					format="webp"
					class='rounded-md shadow-md w-full'
					transition:name={`image-${post.slug}`}
				/>
			</a>
			<a href={`/blog/${post.slug}`}>
				<h3 class="my-4">{post.data.title} </h3>
			</a>
			<p class="w-full"> {post.data.description}<p/>
		</article>
	 ))}
</div>
