---
import { type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
type Props = {
	post: CollectionEntry<'posts'>;
};
const { post } = Astro.props;
---

<article class='pt-10 w-full'>
	<Image
		src={post.data.image}
		alt={post.data.title}
		format='webp'
		class='rounded-md shadow-md w-full'
		transition:name=`image-${post.slug}`
	/>
	<a href={`/blog/${post.slug}`}>
		<h2>{post.data.title}</h2>
	</a>
	<p>{post.body}</p>
</article>

<script></script>
